body{
    background-color: peachpuff;
}
th{
    background-color: aliceblue;
}
.to{
    background-color:yellow;
}
 .re{
    background-color: gold;
}
.co{
    background-color: yellow;
}
.F{
    background-color: red;
}
